all:
  hosts:
    wood-sea:
      ansible_host: 10.0.1.102
      ansible_user: alpine
    farm-land:
      ansible_host: 10.0.1.103
      ansible_user: alpine
  vars:
    mssql_project: allcom-sistemas-databases-mssql
    mssql_root_directory: /home/alpine/mssql-databases
    mssql_aws_access_key_id: AKIAIOSFODNN7EXAMPLE
    mssql_aws_secret_access_key: wJalrXUtnFEMILK7MDENGEbPxRfiCYEXAMPLEKEY
    mssql_aws_region: us-east-2
    mssql_backups_expiration_days: 60

production:
  hosts:
    wood-sea:
      database_identifier: wood-sea
      database_pid: Express
      database_server: 10.0.1.102
      database_port: 55001
      database_user: sa
      database_password: rGRAKBzNM0ODg4Swl4OdNBBGX0RhGoDjiZQJQbFNExsW
      database_database: wood_sea_database

    farm-land:
      database_identifier: farm-land
      database_pid: Express
      database_server: 10.0.1.102
      database_port: 55002
      database_user: sa
      database_password: 3ksU7pBA9TWST5kR41Cri0897JvTaxHjH3Zmo6zjysgQ
      database_database: farm_land_database
