aws_access_key_id: AKIAIOSFODNN7EXAMPLE
aws_secret_access_key: wJalrXUtnFEMILK7MDENGEbPxRfiCYEXAMPLEKEY
aws_region: us-east-2
databases:
  - mssql_name: mssql-database
    mssql_pid: Express
    mssql_server: 10.0.1.101
    mssql_port: 1433
    mssql_user: sa
    mssql_password: 0JTnyEFHHdV5j90LnaqtPmpKNvwL5taMJrezZoVjtNgD
    mssql_database: mssql-database
    mssql_bucket: s3://mssql-backups
