aws_access_key_id: AKIAIOSFODNN7EXAMPLE
aws_secret_access_key: wJalrXUtnFEMILK7MDENGEbPxRfiCYEXAMPLEKEY
aws_region: us-east-2
databases:
  - name: mssql-database
    pid: Express
    server: 10.0.1.101
    port: 1433
    user: sa
    password: 0JTnyEFHHdV5j90LnaqtPmpKNvwL5taMJrezZoVjtNgD
    database: mssql-database
    bucket: mssql-backups
    bucket_expiration_days: 7
